<a href="https://colab.research.google.com/github/navinabalab2007-ux/ml-movie-recommentation3/blob/main/Movie_recommendation3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Lib**

In [20]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

**Create movie dataset**

In [21]:
data={
    "Movie":[
        "Avengers",
        "Batman",
        "Titanic",
        "Superman",
        "Notebook",
        "Joker",
        "IronMan",
        "Spiderman"

    ],
    "Genre":[
        "Action Superhero",
        "Action Superhero",
        "Romance Drama",
        "Action Superhero",
        "Romance Drama",
        "Crime Drama",
        "Action Superhero",
        "Action Superhero"
    ]
}

In [22]:
df=pd.DataFrame(data)
df

       Movie             Genre
0   Avengers  Action Superhero
1     Batman  Action Superhero
2    Titanic     Romance Drama
3   Superman  Action Superhero
4   Notebook     Romance Drama
5      Joker       Crime Drama
6    IronMan  Action Superhero
7  Spiderman  Action Superhero

**convert text into Number**

In [23]:
cv=CountVectorizer()
matrix=cv.fit_transform(df["Genre"])
matrix.toarray()

array([[1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1],
       [0, 0, 1, 1, 0],
       [0, 1, 1, 0, 0],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1]])

**calculate cosine similarity**

In [24]:
similarity=cosine_similarity(matrix)
similarity

array([[1. , 1. , 0. , 1. , 0. , 0. , 1. , 1. ],
       [1. , 1. , 0. , 1. , 0. , 0. , 1. , 1. ],
       [0. , 0. , 1. , 0. , 1. , 0.5, 0. , 0. ],
       [1. , 1. , 0. , 1. , 0. , 0. , 1. , 1. ],
       [0. , 0. , 1. , 0. , 1. , 0.5, 0. , 0. ],
       [0. , 0. , 0.5, 0. , 0.5, 1. , 0. , 0. ],
       [1. , 1. , 0. , 1. , 0. , 0. , 1. , 1. ],
       [1. , 1. , 0. , 1. , 0. , 0. , 1. , 1. ]])

**create Recommendation Function**

In [33]:
def  recommend(movie_name):
  if movie_name not in df["Movie"].values:
      print(f"Movie '{movie_name}' not found in the dataset.")
      return

  index=df[df["Movie"]==movie_name].index[0]
  scores=list(enumerate(similarity[index]))
  sorted_scores=sorted(scores,key=lambda x:x[1],reverse=True)


  print("\n Recommended Movies:")


  for i in sorted_scores[1:4]:
       print(df.iloc[i[0]]["Movie"])

**Take user Input**

In [34]:
movie_name=input("Enter Movie Name:")
recommend(movie_name)

Enter Movie Name:Avengers

 Recommended Movies:
Batman
Superman
IronMan